@using LDevelopment.ViewModels
@model PostViewModel

@{
    ViewBag.Title = Model.Title;
}

<div id="entity">
    <div class="container body-content">
        <div class="col-md-offset-1 col-md-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img class="img-responsive" src="@Url.Content(Model.ImageUrl)" alt="@Url.Content(Model.Title)" />
            }
            <div class="tags">
                @foreach (SelectListItem tag in Model.Tags.Items)
                {
                    @Html.ActionLink(tag.Text, "Tag", new { tag = tag.Value }, new { @class = "tag-small" })
                }
            </div>
            <h2 class="text-uppercase">@Html.DisplayFor(model => model.Title)</h2>
            <div>
                <span class="glyphicon glyphicon-time"></span> @Html.DisplayFor(model => model.ReleaseDate)
                <span class="glyphicon glyphicon-comment"></span> @Resources.Comments:@Html.DisplayFor(model => model.Comments.Count)
            </div>
            <div>
                @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.Text).ToString()))
            </div>

            @if (Request.IsAuthenticated)
            {
                <div>
                    @Ajax.ActionLink(Resources.CommentAdd, "Comment", new { id = Model.Id },
                        new AjaxOptions { UpdateTargetId = "new-comment", OnSuccess = "hideButton()" },
                        new { @class = "btn btn-default new-comment-button" })

                    <div id="new-comment"></div>
                </div>
            }
            else
            {
                <div>
                    <div class="col-md-6">
                        <h3>@Resources.LogIn</h3>
                        <hr />
                        @Html.ActionLink(Resources.LogInToAddComment, "Login", new { controller = "Account", returnUrl = HttpContext.Current.Request.RawUrl }, new { @class = "new-comment" })
                    </div>
                    <div class="col-md-6">
                        @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
            }

            @if (Model.Comments.Any())
            {
                <div id="comments">
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="thumbnail">
                            <span class="glyphicon glyphicon-time"></span> @Html.DisplayFor(model => comment.ReleaseDate)
                            <span class="glyphicon glyphicon glyphicon-user"></span> <a href="mailto:@Html.DisplayFor(model => comment.AuthorMail)">@Html.DisplayFor(model => comment.AuthorName)</a>
                            <div>@Html.DisplayFor(model => comment.Text)</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function hideButton() {
            $('.new-comment-button').hide();
        }
    </script>
}