@using LDevelopment.ViewModels
@{
    ViewBag.Title = Resources.LogIn;
}

<div class="login">
    <div class="container body-content text-center">
        <h2 class="text-uppercase">@ViewBag.Title</h2>
        <div class="col-md-12">
            <div class="row">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
            <h3 class="text-lowercase">@Resources.Or</h3>
            <div class="row">
                @Html.Partial("_LocalLoginPartial", new LoginViewModel())
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
