@model LDevelopment.ViewModels.HomeViewModel
@{
    ViewBag.Title = Resources.Home;
}

<div class="main">
    <section class="home">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12">
                    <h1>CODE THE FUTURE</h1>
                    <h2>.NET Framework ∙ Web Development ∙ Patterns & Practices</h2>
                    @Html.ActionLink(Resources.Read, "Index", "Blog", null, new { @class = "link btn btn-lg text-uppercase" })
                </div>
            </div>
        </div>
    </section>

    <section class="about-me">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase">@Resources.About</h2>
                    <p>
                        Nazywam się <strong>Łukasz Dudziak</strong>. Jestem programistą - pasjonatem, a także właścicielem przedsiębiorstwa
                        rozwijanego pod nazwą <strong>LDevelopment</strong>, którego ta strona jest wizytówką.
                    </p>
                    @Html.ActionLink(Resources.About, "About", null, new { @class = "link btn btn-lg text-uppercase" })
                </div>
            </div>
        </div>
    </section>

    <section class="section-1"></section>

    <section class="last">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase">@Resources.Last</h2>
                </div>
                @foreach (var item in Model.LastPosts)
            {
                    <div class="short col-md-4 text-justify">
                        <img class="img-responsive" src="@item.ImageUrl" alt="@item.Title" />
                        <h3 class="text-uppercase">@Html.ActionLink(item.Title, "Details", "Blog", new { id = item.Id }, new { @class = "text-uppercase" })</h3>
                        <p>@Html.Raw(item.Text)</p>
                        <div class="more">@Html.ActionLink(Resources.Read, "Details", "Blog", new { id = item.Id }, new { @class = "link btn btn-lg text-uppercase" })</div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="section-2"></section>

    <section class="popular">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase">@Resources.Popular</h2>
                </div>
                @foreach (var item in Model.PopularPosts)
            {
                    <div class="short col-md-4 text-justify">
                        <img class="img-responsive" src="@item.ImageUrl" alt="@item.Title" />
                        <h3 class="text-uppercase">@Html.ActionLink(item.Title, "Details", "Blog", new { id = item.Id }, new { @class = "text-uppercase" })</h3>
                        <p>@Html.Raw(item.Text)</p>
                        <div class="more">@Html.ActionLink(Resources.Read, "Details", "Blog", new { id = item.Id }, new { @class = "link btn btn-lg text-uppercase" })</div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase">@Resources.Newsletter</h2>
                    <p>
                        Zapisz się do newslettera, aby być na bieżąco ze wszystkimi wpisami na blogu
                    </p>
                    <p>
                        <a class="link btn btn-lg text-uppercase" href="http://go.microsoft.com/fwlink/?LinkId=301866">@Resources.SignIn</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>