@model LDevelopment.ViewModels.HomeViewModel
@{
    ViewBag.Title = Resources.Home;
}

<div class="main">
    <section class="home parallax-bg">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-uppercase">CODE THE FUTURE</h1>
                    <h2 class="text-uppercase">.NET&nbsp;Framework ∙ Web&nbsp;Development ∙ Patterns&nbsp;&&nbsp;Practices</h2>
                    @Html.ActionLink(Resources.Read, "Index", "Blog", null, new { @class = "link btn btn-lg text-uppercase" })
                </div>
            </div>
        </div>
    </section>

    <section class="about-me">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2 class="text-uppercase">@Resources.About</h2>
                    <p>
                        @Resources.Welcome
                        @Html.Raw(Resources.AboutMessage)
                    </p>
                    @Html.ActionLink(Resources.About, "About", null, new { @class = "link btn btn-lg text-uppercase" })
                </div>
            </div>
        </div>
    </section>

    <section class="section-1 parallax-bg"></section>

    <section class="last">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase">@Resources.Last</h2>
                </div>
                @foreach (var item in Model.LastPosts)
                {
                    <div class="short col-md-4 text-justify">
                        <a href="@Url.Action("Details", "Blog", new { url = item.Url })">
                            <img class="img-responsive" src="@item.ImageUrl" alt="@item.Title" title="@item.Title" />
                        </a>
                        <h3 class="text-uppercase">@Html.ActionLink(item.Title, "Details", "Blog", new { url = item.Url }, new { @class = "text-uppercase" })</h3>
                        <p>@Html.Raw(item.Text)</p>
                        <div class="more">@Html.ActionLink(Resources.Read, "Details", "Blog", new { url = item.Url }, new { @class = "link btn btn-lg text-uppercase" })</div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="section-2 parallax-bg"></section>

    <section class="popular">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase">@Resources.Popular</h2>
                </div>
                @foreach (var item in Model.PopularPosts)
                {
                    <div class="short col-md-4 text-justify">
                        <a href="@Url.Action("Details", "Blog", new { url = item.Url })">
                            <img class="img-responsive" src="@item.ImageUrl" alt="@item.Title" title="@item.Title" />
                        </a>
                        <h3 class="text-uppercase">@Html.ActionLink(item.Title, "Details", "Blog", new { url = item.Url }, new { @class = "text-uppercase" })</h3>
                        <p>@Html.Raw(item.Text)</p>
                        <div class="more">@Html.ActionLink(Resources.Read, "Details", "Blog", new { url = item.Url }, new { @class = "link btn btn-lg text-uppercase" })</div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2 class="text-uppercase">@Resources.Newsletter</h2>
                    <p>
                        @Resources.NewsletterMessage
                    </p>
                    <p>
                        <a class="link btn btn-lg text-uppercase" href="#">@Resources.Soon</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>